<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>Expense Tracker</title>
</head>
<body>
    <h1 class="title">Expense Tracker</h1>
    <div class="container">
        <form id="my-form" >
            <div class="input-container">
                <div class="amount">
                  <label for="amount">Amount:</label>
                  <input type="text" id="amount">
                </div>
                <div class="des">
                  <label for="description">Description:</label>
                  <input type="text" id="description">
                </div>
                <div>
                    <label for="category" class="cat">Category:</label>
                        <select id="category">
                            <option value="food">Food</option>
                            <option value="fuel">Fuel</option>
                            <option value="movie">Movie</option>
                            <option value="electricity">Electricity</option>
                            <option value="others">Others</option>
                        </select>
                </div>
            </div>
            <!-- <input class="btn" type="submit" value="Add expense" > -->
            <button class="btn">Add Expense</button>
          </form>
    
          <ul id="expenses"></ul>  
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="../public/js/index.js"></script>
</body>
</html>